<!-- 静的ファイルのURLを生成するstaticタグをロードする -->
{% load static %}
<!doctype html>
<!-- 言語指定をenからjaに変更 -->
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'app1/s1.css' %}" />
  <link rel=" stylesheet" type="text/css" href="{% static 'app1/s2.css' %}" />
  <link rel=" stylesheet" type="text/css" href="{% static 'app1/s3.css' %}" />
</head>

<body class="text-center">
  <h1>○○病院</h1>
  <div class="header">
    <b>面会スマート<br>(お帰りの方/ログイン)</b>
  </div>
  <main class="form-signin">
    <!-- ユーザー名とパスワードが一致しない場合のメッセージ -->
    {% if form.errors %}
    <p style="color: red">ユーザー名とパスワードが一致しません。</p>
    {% endif %}

    <!-- ログインのフォームを配置 -->
    <form method="post">
      {% csrf_token %}
      <!-- Usernameのラベル(非表示) -->
      <label for="Username" class="visually-hidden">
        email</label>
      <!-- usernameの<input>タグを出力-->
      <!-- name属性の値はLoginViewで定義されているフィールド名username -->
      <input type="text" name="username" id="id_username" maxlength="150" autocapitalize="none" autocomplete="username"
        class="form-control" placeholder="メールアドレス" required autofocus>
      <!-- Passwordのラベル(非表示) -->
      <brq111>
        <label for="Password" class="visually-hidden">
          Password</label>
        <!-- passwordの<input>タグを出力-->
        <!-- name属性の値はLoginViewで定義されているフィールド名password -->
        <input type="password" name="password" id="id_password" autocomplete="current-password" class="form-control"
          placeholder="パスワード" required>
        <!-- <div class="checkbox mb-3">～</div>削除 -->
        <!-- <button>～</button>を書き換えてログインボタンを配置 -->
        <input class="w-100 btn btn-lg btn-primary" type="submit" value="ログイン">
        <!-- ログイン直後のリダイレクト先(トップページ)のURLパターンを設定 -->
        <input type="hidden" name="next" value="{% url 'app1:Reception3' %}">
        <p><a href="{% url 'app1:top' %}">戻る</a></p>
    </form>
  </main>
</body>

</html>